.controlColumn{
    height: 100%;
    width: 50px;
    background: rgba(35,36,40,1);
    margin:0px;
    
    float:left;
    text-align: center;
}
.button{
    opacity: 0.1;
    border: none;
    color: white;
    
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;

}
.button:hover {opacity: 1}